chapt2/chapt2_ws/build/
chapt2/chapt2_ws/install/
chapt2/chapt2_ws/log/
chapt3/topic_ws/build/
chapt3/topic_ws/install/
chapt3/topic_ws/log/
chapt4/chapt4_ws/build/
chapt4/chapt4_ws/install/
chapt4/chapt4_ws/log/
chapt5/chapt5_ws/build/
chapt5/chapt5_ws/install/
chapt5/chapt5_ws/log/
chapt6/chapt6_ws/build/
chapt6/chapt6_ws/install/
chapt6/chapt6_ws/log/
chapt7/chapt7_ws/build/
chapt7/chapt7_ws/install/
chapt7/chapt7_ws/log/
*.log